html {
	    box-sizing: border-box;
	        height: 100%;
}

*,
*::before,
*::after {
	    box-sizing: inherit;
}

body {
       display: flex;
	    margin: 0;
	 height: 100%;
}

.container {
	    margin: auto;
	    padding: 1em;
	    width: 80%;
}
.destination:hover h2 {
    transform: rotate(0deg);
}

}

h2 {
    margin: 0;
    transform: rotate(-45deg);
    transition: transform 0.5s;
    text-shadow: 0 0 5px #01579b;
}
#florida {
		background-color: #03a9f4;
}
#paris {
		background-color: #d32f2f;
 }
